
.App{
  padding: 50px;
  background: rgb(55, 55, 55);
  height: 100vh;
}

.LeagueInfo{
  margin-top: 20px;
  color: white;
  box-shadow: 0 0 5px 2px #00000047;
  padding: 20px;
}

.LeagueInfo img{
  height: 60px;
}

.LeagueInfo img:nth-child(1){
  height: 100px;
  margin-left: 15px;
}